<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>自我练习</title>
  <!-- 引入vue -->
  <script type="text/javascript" src="../js/vue.js"></script>
  <!-- 浏览器书签栏的小图标设置 -->
  <link rel="icon" href="../img/favicon.ico" />
</head>

<body>
  <!-- 容器 -->
  <div id="root">
    <h1>插值语法</h1>
    <h3>你好,{{name}}</h3>
    <!---------------------------------华丽的分割线------------------------------------>
    <h1>指令语法</h1>
    <a v-bind:href="school.url">(写法一):{{name}}去{{school.name}}读书</a>
    <!-- 换行,使用br -->
    <br />
    <!-- v-bind可以简写成冒号,如写法二 -->
    <a :href="school.url">(写法二):{{name}}去{{school.name}}读书</a>
    <br />
    <a>问: 学校地址在哪里?</a>
    <br />
    <a v-if="school.address">答: 地址在{{school.address}}</a>
    <!---------------------------------华丽的分割线------------------------------------>
    <h1>数据绑定</h1>
    <!-- 普通写法 -->
    <div>单向数据绑定: <input type="text" v-bind:value="age" /></div>
    <div>双向数据绑定: <input type="text" v-model:value="age" /></div>

    <br />

    <!-- 简写 -->
    <div>(简写)单向数据绑定: <input type="text" :value="dataName" /></div>
    <div>(简写)双向数据绑定: <input type="text" v-model="dataName" /></div>

    <br />
    <!---------------------------------华丽的分割线------------------------------------>

    <div v-for="item in dataArr">
      {{item}}
    </div>

    <!---------------------------------华丽的分割线------------------------------------>
    <button @click="onClick(1)">数组最前面增加一个元素(unshift)</button>
    <br />
    <button @click="onClick(2)">移除数组最前面一个元素(shift)</button>
    <br />
    <button @click="onClick(3)">数组最末尾增加一个元素(push)</button>
    <br />
    <button @click="onClick(4)">移除数组最末尾一个元素(pop)</button>
    <br />
    <button @click="onClick(5)">修改数组最前面一个元素(splice)</button>
    <br />
    <button @click="onClick(6)">对数组元素进行升序(sort)</button>
    <br />
    <button @click="onClick(7)">对数组元素进行降序(reverse)</button>
    <br />
    <button @click="onClick(8)">给学校增加一个地址属性(set)</button>
    <br />
    <button @click="onClick(9)">过滤掉数组中小于等于60的数(filter)</button>
    <br />
    <button @click="onClick(10)">测试打印</button>
    <br />

  </div>

  <script type="text/javascript">
    Vue.config.productionTip = false; //阻止 vue 在启动时生成生产提示
    //实例
    new Vue({
      el: "#root", //e1用于指定当前vue实例为哪个容器服务，值通常为css选择器字符串(el第一种写法)
      data: {
        //data中用于存储数据，数据供e1所指定的容器去使用，值我们暂时先写成一个对象
        name: "小明",
        school: {
          name: "清华大学",
          url: "https://www.tsinghua.edu.cn/",
        },
        dataName: "abc",
        age: 66,
        dataArr: ["40", "33", "79", "53", "68", "20", "80"],
        id: 21,
      },
      methods: {
        onClick(index) {
          if (index === 1) {
            this.dataArr.unshift('0');
          } else if (index === 2) {
            this.dataArr.shift();
          } else if (index === 3) {
            this.dataArr.push('100');
          } else if (index === 4) {
            this.dataArr.pop();
          } else if (index === 5) {
            this.dataArr.splice(0, 1, '15');
          } else if (index === 6) {
            this.dataArr.sort();
          } else if (index === 7) {
            this.dataArr.reverse();
          } else if (index === 8) {
            this.$set(this.school, 'address', '北京市海淀区清华园');
          } else if (index === 9) {
            this.dataArr = this.dataArr.filter((num, index) => {
              console.log(num, index);
              return num > 60
            });
          } else if (index === 10) {
            var fruits = ["Banana", "Orange", "Apple", "Mango"];
            console.log(fruits.toString());

            var dataArr111 = [['a', 'b', 'c'], [3, 2, 1]];
            dataArr111[0].reverse();
            dataArr111[1].sort();
            console.log(dataArr111[0], dataArr111[1]);

            let hidenProducts = [201, 217, 297, 240, 198, 199, 200];
            console.log(hidenProducts.includes(this.id));
            console.log(parseInt(999, 10));
          }
        }
      },
    });
    // v.$mount("#root");//el第二种写法
  </script>
</body>

</html>